<div style="text-align: center; background-color: beige">
  <h1>About Me</h1>
</div>

<div style="text-align: center">
  <%= link_to image_tag('/assets/DSC00804.JPG', :size => "500x300"), root_path %>
</div>

<div style="margin: 20px"> <%= link_to 'Home', root_path %></div>

<footer style="text-align: center; background-color: beige">this is my footer</footer>