<div style="background-color: #999999; margin-top: 0px">
  <header style="text-align: center">
    <h1>Home Page</h1>
  </header>

  <div style="text-align: center">
    <%= link_to image_tag('/assets/DSC00740.JPG', :size => "500x300"), pages_about_path %>
  </div>
  <div style="width: 100%; margin-left: 26%">

    <p style="width: 300px; float: left; clear: both">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
      consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
      diam voluptua.</p>
    <p style="float: left; width: 300px; margin-left: 16px">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
      sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
      consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
      diam voluptua.</p>
  </div>

  <div style="clear: both; margin: 20px"><%= link_to 'About', pages_about_path %></div>


  <footer style="border-style: double; text-align: center; clear: both">
    this is my footer
  </footer>
</div>