$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  margin-bottom: 0px;
  border-radius: 0;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('feather.JPG');
  background-size: cover;
  height: 570px;
  margin-bottom: 7px;
}

.jumbotron h1 {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  letter-spacing: -8px;
  font-weight: bold;
}

.btn-xlarge {
  background-color: black;
  font-size: 1.7em;
  border-color: transparent;
}

.btn-danger:hover {
  border-color: transparent;
  background-color: black;
}

#foot {
  background-color: black;
}

footer {
  color: #777;
  padding-top: 11px;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

#row-msg {
  padding-top: 10px;
}